<ion-header [translucent]="true" style="height: 30% ; background:orange;">
  <ion-content class="bg-orange"></ion-content>
  <ion-item class="header-container" style="border-radius: 50% / 100%;border-bottom-left-radius: 0;border-bottom-right-radius: 0;">
    <ion-img src="../assets/img/img1.png" style="width: 100%;height: 35%;margin-top: 3vh;"></ion-img>
  </ion-item>
</ion-header>

<ion-content id="container" [fullscreen]="true">
    <ion-input class="txt_cmnd ion-text-left" placeholder="Chứng minh nhân dân"> <ion-icon name="key-outline"></ion-icon></ion-input>
    <ion-button fill="outline" color="warning">ĐĂNG NHẬP</ion-button>
</ion-content>
