#container {
  text-align: center;

  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.bg-orange{
  --background:orange;
  position: absolute;
}
.header-container{
  height: 40.3%;
  --background:white;
  position: absolute;
  top: 60%;
  width: 70%;
  left:15%;
}


div#background-content{
  border-radius: 25px;
}

.header-md::after {
  display: none;
}
ion-item {
  --ion-background-color: orange !important;
  line-height: 300px;
}
.txt_cmnd,ion-button{
  width:80%; 
  border-bottom: 2px solid rgb(197, 196, 196); 
  margin: auto; 
}
ion-button{
  margin-top: 20px;
  --border-radius: 8px !important;
}
ion-input {
  flex-direction: row-reverse;
}
#background-content{
  border-radius: 25px;
}